
  <div class="articles">
    <div class="article-mi">
      <div class="article-midashi">・Articles・</div>
      <div class="article_introduction">このページでは様々な人の練習メニューやランナーとしての生活を日記として共有することが出来ます。気になった人や質問したい人がいたら記事にリンクしましょう！</div>
    </div>  
    <div class="article">
      <%= render partial: "article", collection: @articles %>
    </div>  
  </div>

  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  