<%= form_for(current_user, url: relationship_path(@user), method: :delete, remote: true) do |f| %>
  <div class="kokokobtn">
    <%= f.submit "フォロー解除", class: "btn btn-outline-primary" %>
  </div>  
<% end %>