.articles {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("https://publicdomainq.net/images/201902/03s/publicdomainq-0031058zot.jpg");
}

.meals {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("https://publicdomainq.net/images/201902/23s/publicdomainq-0031747fzb.jpg");
}

.article-mi {
  padding: 0 50px;
}

.article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:  100px 100px 200px 100px;

}

.article-midashi {
  display: flex;
  justify-content: center;
  margin: 50px 500px 50px 500px;
  padding: 0.5rem 0.5rem;
  border-bottom: 3px solid #000;
  background: #444444;
  color: white;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

.article_introduction {
  margin: 50px 400px 50px 400px;
  padding: 1rem 2rem;
  border-bottom: 3px solid #000;
  background: #444444;
  color: white;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

.iine {
  display: flex;
  justify-content: flex-end;
}

.favo-count {
  display: flex;
  justify-content: flex-end;
}

.card {
  margin: 50px 0;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
  transition: box-shadow 2s ease-out, transform 2s ease-out;
}

.card:hover {
  box-shadow: 0 15px 10px 5px rgb(0, 0, 0);
  transform: translateY(-10px);
}

.card-img-top aaa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.pagenation {
  display: flex;
  justify-content: center;
}

.search-form {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.search-form-mini {
  padding-top: 30px;
}