.body {
}

.header {
  background-color: black;
  width: 100vw;
  height: 40px;
}

.inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.top-icon {
  color: rgba(255, 255, 255, 0.6);
  font-family: fantasy;
  margin-right: 500px;
  margin-top: 2px;
  font-size: 30px;
}

.Myname {
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

.header-pulldown {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-left: 1200px;
  position: absolute

}

.hidden {
  display: none;
}

.show-lists{
  width: 150px;
  height: 300px;
  position: absolute;
  right: 900px;
  top: 47px;
  background-color: black;
  opacity: 0.8;
  color: white;
}

.show-list {
  color: #fff;
  margin: 10px 20px;
}

.showlist {
  color: white;
  text-decoration: none;
}

.list-content {
  color: #fff;
  margin: 20px 0 0 30px;
}

.comment-zone {
  height: 600px;
  margin-top: 50px;
}



 /* メイン画面 */

.main {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #f4f4f4 ;
  /* background-image: url("https://publicdomainq.net/images/201711/18s/publicdomainq-0015656hnk.jpg"); */

}

.main h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 80px;
}

.main-image{
  height: 750px;
  width: 100%;
 }

 .concept {
   height: 700px;
   margin: 100px 330px;
   background-color: #f4f4f4;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-image: url("https://publicdomainq.net/images/201711/18s/publicdomainq-0015656hnk.jpg");
 }

 .concept-title {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   padding: 1rem 2rem;
   border-bottom: 3px solid #000;
   background: #444444;
   color: white;
 }

 .concept-introduction {
  display: flex;
  justify-content: center;
   margin: 100px;
 }

 .concept-images {
  display: flex;
  justify-content: space-around;
  margin: 30px;
 }

 .concept-image {
   margin: 0 30px;
 }

 .favorites {
   margin: 60px 100px;
   background-color: #f4f4f4;

 }

 .favorite-article {
   display: flex;
   justify-content: center;
   margin: 0 250px 100px 250px;
   padding: 1rem 2rem;
   border-bottom: 3px solid #000;
   background: #444444;
   color: white;
 }

 .favorite {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 50px;
   background-color: #f4f4f4;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-image: url("http://gahag.net/img/201512/24s/gahag-0039659362-1.jpg");
 }

 .mealfavorite {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("https://imageslabo.com/wp-content/uploads/2019/08/1158_food_subuta_9568-1024x683.jpg");
 }

 .favorite-meal {
   margin: 100px 250px;
   display: flex;
   justify-content: space-around;
   padding: 1rem 2rem;
   border-bottom: 3px solid #000;
   background: #444444;
   color: white;
 }
 
 .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}



/* フッター */

.footer {
  background-color: #444444;
  padding: 10px 0;
  width: 100%;
  bottom: 100;
  margin-top: 500px;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}



  /* メディアクエリ */

 /* タブレット表示時 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
 }