  <div class="articles">
    <div class="article-mi">
      <div class="article-midashi">記事たち</div>
      <div class="article_introduction">ここにはこのページの説明がはいるここにはこのページの説明がはいるここにはこのページの説明がはいるここにはこのページの説明がはいるここにはこのページの説明がはいる</div>
    </div>  
    <div class="article">
      <%= render partial: "meal", collection: @meals %>
    </div>  
  </div>  