  <div class="articles">
    <div class="article-mi">
      <div class="article-midashi">・Meals・</div>
      <div class="article_introduction">このページにはランナーたちの日々の食事が主にまとめられています！ダイエット食やトレーニング用の食事が多く含まれています！共有をして良い食生活を続けていきましょう！</div>
    </div>  
    <div class="article">
      <%= render partial: "meal", collection: @meals %>
    </div>  
  </div>  

  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  
