<div class="newformallmeal">  
  <div class="newform">
    <%= render partial:"formMeals", locals: { meal: @meal } %>
  </div> 
  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  
</div>  