.body {
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: black;
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

 /* メイン画面 */

.main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main p {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 60px;
  color: #ffffff;
}

.main-image{
  height: 100vh;
  width: 100vw;
 }







/* フッター */

.footer {
  background-color: black;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}