.body {
}

.header {
  background-color: black;
  width: 100%;
  height: 40px;
}

.inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.top-icon {
  color: rgba(255, 255, 255, 0.6);
  font-family: fantasy;
  margin-right: 600px;
  margin-top: 2px;
  font-size: 30px;
}

.logout {
  margin-right: 30px;
}

.login {
  margin-right: 10px;
}

.resistration {
  margin-right: 30px;
}

.three-line {
  margin-right: 10px;
}
.header-pulldown {
  position: relative;
}

.hidden {
  display: none;
}

.show-lists{
  width: 150px;
  height: 300px;
  position: absolute;
  right: 0.5px;
  top: 40px;
  background-color: black;
  opacity: 0.8;
}

.show-list {
  margin: 20px 0 0 30px;
}

.comment-zone {
  height: 600px;
  margin-top: 50px;
}

 /* メイン画面 */

.main {
  height: 100vh;
  width: 100%;
}

.main h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 80px;
}

.main-image{
  height: 750px;
  width: 100%;
 }

 .concept {
   height: 350px;
   margin: 100px 300px;
 }

 .concept-title {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
 }

 .favorites {
   margin: 60px 100px;
 }

 .favorite-article {
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
 }

 .favorite {
   display: flex;
   justify-content: space-around;
 }

 .favorite-meal {
   margin: 100px 0;
   display: flex;
   justify-content: space-around;
 }


/* フッター */

.footer {
  background-color: black;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
