.userset {
  height: 100%;
  width: 100vw;
}

.follower-all {
  margin-left: 100px;
}

.follower-name {
  color: black;
  margin-bottom: 50px;
  text-decoration: none;
}

.followername {
  color: black;
  text-decoration: none;
}